
<div class="table-responsive">
    <table class="table table-borderless table-hover">
        <tr class="table-info">
            <th>ID</th>
            <th>Name</th>
            <th>Course</th>
            <th>Phone</th>
        </tr>
        <tr *ngFor="let student of students">
            <td>{{student.studentId}}</td>
            <td>{{student.studentName}}</td>
            <td>{{student.studentCourse}}</td>
            <td>{{student.studentPhone}}</td>
        </tr>
    </table>
</div>
<div>

<h3>Delete Student By Id</h3>
<input type="number" [(ngModel)]="studentId"/>
<button (click)="removeStudentById()">Delete Student By Id</button>

</div>
